.woocommerce-tabs code,
.markdown code,
.markdown kbd {
  display: inline;
    padding: 3px 5px 2px 5px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0,0,0,.07);
    font-size: 13px;
}
.woocommerce-tabs code,
.markdown .code,
.markdown code {
    font-family: Consolas,Monaco,monospace;
    direction: ltr;
    unicode-bidi: embed;
}
.credits {
  font-size: 0.8em;
  text-align: right;
}

.plugin-meta li:first-child {
    border-top: 0;
}
.plugin-meta li {
    border-top: 1px solid #eee;
    display: inline-block;
    padding: 8px 0;
    padding: .5rem 0;
    width: 100%;
    position: relative;
}

.plugin-meta ul {
    font-size: 12.8px;
    font-size: .8rem;
    list-style-type: none;
}
.plugin-meta li strong {
    float: right;
}
.plugin-meta ul {
    font-size: 12.8px;
    font-size: .8rem;
    list-style-type: none;
}
.parsedown ul {
  list-style: disc;
  padding-left: 1em;
  /* margin-bottom: 15px; */
}
.parsedown ol {
  list-style: decimal;
  padding-left: 2em;
  /* margin-bottom: 15px; */
}
#tab-description h2:first-of-type {
  display: none;
}
