.markdown code, .markdown kbd {
  display: inline;
    padding: 3px 5px 2px 5px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0,0,0,.07);
    font-size: 13px;
}
.markdown .code, .markdown code {
    font-family: Consolas,Monaco,monospace;
    direction: ltr;
    unicode-bidi: embed;
}
